.user-control{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: 8px auto;
}

.user-control h2{
    color: #272727;
    font-weight: 500;
    font-size: 28px;
    margin-right: 20px;
}

.user-control button{
    cursor: pointer;
    border: 1px solid #cecece;
    padding: 8px 15px;
    margin-top: 5px;
    border-radius: 20px;
    background-color:#E02041;
    color:white;
    font-weight: bold;
    transition: 1s;
    outline: none;
    margin-right: 20px;
}

.user-control button:hover{
    filter: brightness(0.8);
}

.tasks{
    margin:15px 30px;
    max-width: 680px;
    border-radius: 10px;
    padding: 20px 30px;
    margin: 20px auto;
    background-color: #f0f0f5;
    box-shadow: 0 0 100px rgba(0,0,0,0.1);
    text-align: center;
}

.tasks h2{
    color:black;
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom:20px;
}

.tasks input{
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    outline: none;
    border: 1px solid #cecece;
    cursor: initial;
    font-family: Roboto;
    width: 270px;
    border-radius: 20px;
}
.tasks input:focus{
    border-color:#5d4a9e;
}

.tasks button{
    margin-left: 10px;
    padding: 8px 10px;
    border-radius: 20px;
    background-color:#5d4a9e;
    color: white;
    border: 0;
    cursor: pointer;
    outline: none;
}

.tasks button:hover{
    filter: brightness(0.9);
}

.tasks ul{
    list-style: none;
    margin-top: 22px;
}

.tasks ul li{
    padding: 10px 20px;
    color: rgb(75, 75, 75);
}

.tasks ul li svg{
    margin-left: 10px;
    cursor: pointer;
}